.NavBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 2px;
    color: #000;
    text-decoration: none;
}

.nav-links li {
    list-style: none;
    display: inline-block;
    margin-left: 35px;
}

.nav-links li:hover,
.nav-links li.active {
    color: #000;
}

.NavLink {
    text-decoration: none;
    color: #ededed;
    font-size: 18px;
    font-weight: 500;
    transition: .3s;
}

.NavLink:hover,
.NavLink.active {
    color: #000;
}